.country-list_item {
  font-size: 30px;
}

.country--list_image {
  width: 40px;
}

.country_title {
  text-align: center;
}

.country_flag {
  margin-left: 40px;
}

.country__item {
  display: flex;
  justify-content: center;
}

.country_information {
  font-size: 30px;
}

.country_image {
  width: 400px;
}

input {
  height: 45px;
  width: 340px;
  font-size: 30px;
  margin-left: 700px;
}

input::placeholder {
  font-size: 25px;
}

.list {
  list-style: none;
}

p {
  margin: 0px;
}

body {
  background-image: url(../images/bg-pattern.png);
}

